.main-container {
  background-color: #4D55A5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerhp {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.center-logo {
  width: 400px;
  height: auto;
  cursor: pointer;
  margin-bottom: 30px;
}

.buttons-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 50px;
  top: 20px;
}

.left-icon {
  width: 80px;
  height: auto;
  margin-right: 30px;
}

.account-right {
  width: 70px;
  height: auto;
}

/* Updated Search Bar Container */
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 70%; /* Centered and aligned width */
  margin-top: 20px;
}

.dropdown-container {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown-selected {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 30px 0 0 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  background-color: white;
}

.down-arrow {
  width: 20px;
  height: auto;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.down-arrow.open {
  transform: rotate(180deg);
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
  width: 100%;
  z-index: 100;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item.selected {
  background-color: #f0f0f0;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 0 30px 30px 0;
  outline: none;
}

.search-input:focus {
  border-color: #8ec860;
  box-shadow: 0 0 5px rgba(142, 200, 96, 0.5);
}

/* Map Section */
.map-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.map-container {
  width: 90%;
  height: 60vh;
}

@media only screen and (max-width: 768px) {
  .search-bar-container {
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }

  .map-container {
    width: 95%;
    height: 100vh;
  }
}
