/*Define the font*/
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf') format('truetype'); /* Adjust this path as necessary */
    font-weight: normal;
    font-style: normal;
}
/*Use font*/
body {
    font-family: 'Helvetica';
}



/* Basic styling for the 3 lines menu button */
.menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-size: 50px; /* is the size of menu button*/
    color: #8EC860;
}
.menu-bar{
    width: 40px;
    height: 40px;
   
}
/*for the 3 bar menu button*/
.menu-button {
    background: none;
    border:none;
}
.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.menu-text{
    font-size: 25px;
    vertical-align: top;
}

.menu-icon {
    width: 30px; /* Adjust the size of the icons as needed */
    height: auto;
    margin-right: 20px; /* Space between the icon and the text */
    margin-left:-10px;
    display: inline-block;
}

.menu-search {
    width: 30px; /* Adjust the size of the icons as needed */
    height: 25px;
    margin-right: 20px; /* Space between the icon and the text */
    margin-left: -10px;
}

/* Styling for the side menu */
.side-menu {
    height: auto;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #8B8B8B;
    overflow-x: hidden;
    transform: scale(0);
    transition: 0.3s ease;
    padding-top: 60px;
    z-index: 1;
}
    /*Sidebar:
    .side-menu li {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
  */
.side-menu.open {
    top: 160px;
    Left: 10px;  /*this changes how close it gets to the website edge*/
    width: 350px;
    border-radius: 30px;
    transform: scale(1);
    transition: width 0.3s ease,height 0.3s ease;
    height: 44vh;
    overflow:hidden;
}

/* Close button styling */
.close-button {
    position: absolute;
    top: 20px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
}

.close-icon {
    width: 24px;
    height: 24px;
}

.side-menu img.menu-logo {
    display: block;
    margin-top: 20px;
    width: 150px;
    margin-bottom: 10px;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 10px 16px;  /*Moves the icons and texts up or down*/
    text-align: left;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: background-color 0.3s;
    border-radius:15px;
}

.side-menu ul li:hover {
    background-color: #575757;
    border-radius:15px;
}

.side-menu a {
    text-decoration: none; /* Remove underline */
    color: #575757; /* Set your preferred color */
    font-weight: 500; /* Optional: Make the text a bit bolder */
}

    .side-menu a:visited {
        color: white; /* Ensure visited links keep the same color */
    }

    .side-menu a:hover {
        color: white; /* Prevent color change on hover */
    }

    .side-menu a:active {
        color: white; /* Prevent color change when clicked */
    }
.map-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.map-container {
    width: 90%;
    height: 60vh;
}

@media only screen and (max-width: 768px) {
    .search-bar-container {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }

    .map-container {
        width: 95%;
        height: 100vh;
    }
}
/*Resizing the menu popup when the screen gets smaller*/
@media(min-width:180px)and (max-width:1024px) {
    .side-menu {
        padding:30px;
    }

        .side-menu.open {
            width: 250px;
        }
}
