body
{
}
/* HomePage.css */

.main-container {
    background-color: #4D55A5; /* Change to any color you prefer */
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerhp {
    width: 100%; /* Full width for the header */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    margin-top: 20px; /* Adjust top spacing if needed */
}

.logohp-container img {
    display: flex;
    justify-content: center; /* Center the logo */
    align-items: center;
    width: 450px; /* Full width */
}

.center-logo {
    width: 400px; /* Adjust size as needed */
    height: auto;
    margin-top: 30px; /* Top margin to fine-tune the position */
}

/* Account button styles */
.buttons-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 50px; /* Adjust this to move the buttons more to the right */
    top: 20px; /* Adjust top spacing as needed */
}

.left-icon {
    width: 80px; /* Adjust size as needed */
    height: auto;
    margin-right: 30px; /* Space between left and right icons */
}

/* Styling for the right icon (Account button) */
.account-right {
    width: 70px; /* Adjust size as needed */
    height: auto;
}

.search-bar-container {
    display: flex;
    top: 200px;
    position: absolute;
    margin-left: 10px; /* Adjust this value to move it left */
    width: fit-content; /* Adjusts the container width to fit its contents */
}

.search-dropdown {
    padding: 9.5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px 0 0 30px; /* Rounded left corners */
}

.search-input {
    padding: 10px;
    font-size: 16px;
    width: 300px; /* Adjust width as needed */
    border: 1px solid #ccc;
    border-left: none; /* Remove left border to connect with dropdown */
    border-radius: 0; /* No border radius to connect the sides */
}

.search-button {
    padding: 11px 20px;
    font-size: 16px;
    background-color: #8EC860; /* Green button */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 30px 30px 0; /* Rounded right corners */
}

    .search-button:hover {
        background-color: #77a551; /* Darker green on hover */
    }

/* This is what is needed when we minimize the screen all the icons get smaller*/

@media(min-width:180px)and (max-width:1024px) {
    .main-container {
        width: 100%;
        padding: 20px;
    }

    .buttons-container {
        font-size: 14px;
        justify-content: space-around;
    }

    .logohp-container img {
        width: 300px;
    }

    .account-right {
        width: 45px;
    }

    .left-icon {
        width: 50px;
    }

    .search-input {
        width: 300px;
    }
}