/* ResetPassword.css */

html, body {
    margin: 0;      /* Remove default margin */
    padding: 0;     /* Remove default padding */
    width: 100%;    /* Ensure full width */
    height: 100%;   /* Ensure full height */
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  /* Define the font */
  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'Helvetica';
  }

  .reset-password-main-container {
    background-color: #4d55a5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reset-password-left-icon {
    width: 80px;
    height: auto;
    margin-right: 30px;
    position: absolute;
    top: 30px;
    right: 120px;
  }

  .reset-password-account-right {
    width: 70px;
    height: auto;
    position: absolute;
    top: 30px;
    right: 30px;
    margin-right: 30px;
    cursor: pointer;
  }

  .reset-password-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .reset-password-center-logo {
    height: auto;
    width: 400px;
    margin-top: 70px;
  }

  /* Image with 3 people */
  .reset-password-background-image {
    right: 30px;
    position: absolute;
    bottom: 115px;
    right: 20px;
    width: 600px;
    height: auto;
    opacity: 0.3;
  }

  .reset-password-wrapper {
    position: absolute;
    width: 500px;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    top: 200px;
  }

  .reset-password-text {
    font-family: 'Helvetica-Bold';
    color: #4d55a5;
    position: absolute;
    font-size: 55px !important;
    font-weight: bolder;
    white-space: nowrap;
    top: -120px;
    left: 0px;
  }

  .reset-password-email-text {
    font-family: 'Helvetica-Bold';
    color: #4d55a5;
    position: absolute;
    bottom: -145px;
  }

  /* Box containing information */
  .reset-password-form-box-login {
    position: absolute;
    justify-content: flex;
    left: 40px;
    align-items: center;
  }

  .reset-password-input-box {
    position: relative;
    width: 320%;
    height: 50px;
  }

  /* Box for inputting Email */
  .reset-password-email-box {
    background-color: #CCC;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 410px;
    height: auto;
    position: absolute;
    bottom: -190px;
    padding: 10px;
    font-size: large;
  }

  .reset-password-continue-button {
    border-radius: 20px;
    border: none;
    width: 410px;
    height: 37px;
    background-color: #93c83d;
    font-weight: bold;
    font-size: larger;
    position: absolute;
    bottom: -300px;
    cursor: pointer;
  }

  .sign-in-link-remember {
    font-family: 'Helvetica';
    position: absolute;
    right: -303px;
    bottom: -337px;
    color: #93c83d;
    text-decoration: none;
    font-size: small;
    white-space: nowrap;
  }

  .small-sign-in-text-remember {
    position: absolute;
    font-size: small;
    font-family: 'Helvetica';
    bottom:-350px;
    right: -250px;
  }