/* Basic styling for the menu button */
.menu-button {
    position: absolute;
    top: 20px;
    left: 20px; 
    cursor: pointer;
    font-size: 50px;/* is the size of menu button*/
    color: #8EC860;
  }

.side-menu ul {
    list-style-type: none;
    padding: 0;
}
  
  
  
  .menu-icon {
    width: 20px; /* Adjust the size of the icons as needed */
    height: 20px;
    margin-right: 10px; /* Space between the icon and the text */
  }
  
  /* Styling for the side menu */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #8B8B8B;
    overflow-x: hidden;
    transform:scale(0);
    transition:  0.3s ease;
    padding-top: 60px;
    z-index: 1;
}
    /*Sidebar:
    .side-menu li {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
  */
  .side-menu.open {
    top: 160px;
    Left:20px;
    width: 350px;
    border-radius: 30px;
    transform:scale(1);
    transition: width 0.3s ease;
    height: 60vh;
    
  }
  
  /* Close button styling */
  .close-button {
    position: absolute;
    top: 20px;
    right: 15px;
    background: none;
    border:none;
    cursor:pointer;

  }

  .close-icon{
      width:24px;
      height:24px;
  }
  
  .side-menu img.menu-logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-bottom: 20px;
  }

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
  .side-menu ul li {
    display:flex;
    align-items:center;
    padding: 8px 16px;
    text-align: left;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition:background-color 0.3s;
  }
  
  .side-menu ul li:hover {
    background-color: #575757;
  }
  .side-menu a {
    text-decoration: none; /* Remove underline */
    color: #575757; /* Set your preferred color */
    font-weight: 500; /* Optional: Make the text a bit bolder */
  }
  
  .side-menu a:visited {
    color: white; /* Ensure visited links keep the same color */
  }
  
  .side-menu a:hover {
    color: white; /* Prevent color change on hover */
  }
  
  .side-menu a:active {
    color: white; /* Prevent color change when clicked */
  }

  /*Resizing the menu popup when the screen gets smaller*/
@media(min-width:180px)and (max-width:1024px) {
    .side-menu {
        padding:15px;
    }
    .side-menu.open{
        width:250px;
    }


}